@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
</div>
<div class="text-justify">
    
    <p>El Estado proporciona diversos subsidios económicos para ayudar a las personas y empresas afectadas por el aislamiento y la
         inmovilización social obligatoria dictados por la crisis del COVID-19.
    </p>
    
</div>
<br>
<center>
  <img src="D:\Users\Paolo Cueva\Desktop\Laboratorio_PC1\img\bonocovid.jpg" />
</center>

